.element1
{
   height: 40px;
   float: left;
   width: 20%;
   background-color: #4aaaa5;
   text-align: center;
   vertical-align: left;
   font-size: 20px;
   color: white;
   font-size: 150%;
   padding: 10px;
   margin-left: 50px;
}

.element2{
  float: right;
  width: 30%;
  margin-right: 100px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding-top: 10px;
  text-decoration: none;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color:#777777;

}

.para1{
  float:left;
  margin-left: 50px;
  height:500px;
  width:50%;
  background-color: #FFFFFF;
  color:#777777;
  line-height: 30px;
  border: 2px gray;
  padding:5px 5px 25px 25px;
  overflow: auto;
  border:solid;
  border-width: thin;
}

.para1 h1{

  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;.
}

.para1 p{
  padding: 0 0 30px;
}

.para1 img{
  padding-right: 20px;
}

.para2{
  
  float:right;
  height:180px;
  width:20%;
  background-color: #FFFFFF;
  color:#777777;
  line-height: 30px;
  border:solid;
  border-width: thin;
  padding:5px 5px 30px 10px;
  margin-right: 180px;
  overflow: auto;
}

.para2 img3{
  float:right;
}
img{
  display: inline-block;
    overflow: auto;
    padding:10px 0px;
  
}


h2{
  color: #4aaaa5;
}



li{
  display:inline;
  padding: 8px;
}

p{
  margin: 15px 10px;
}


body{
  background-color: #4aaaa5; 
  color:#777777;
  background-image: url("../images/gaming-pattern.png");
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4aaaa5;
}

.container {
  float:left;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    width:50%;
    margin-left:50px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border:solid;
  border-width: thin;
}

.para3 {
   float:left;
  margin-left: 50px;
  height:700px;
  width:50%;
  background-color: #FFFFFF;
  color:#777777;
  line-height: 30px;
  border: 2px gray;
  padding:5px 5px 25px 25px;
  overflow: auto;
  border:solid;
  border-width: thin;
  font-family: 'Georgia', Times, Times New Roman, serif;.
}


.porticons{
  position:relative;
}

.porticons h2 span { 
  position:absolute;
  width:200px;

   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
}